#header {
    z-index: 5;
    max-height: 90px;
    margin: 0px;
    min-width: 100%;
    position: sticky;
    top: 0px;
    overflow: visible;
    background: linear-gradient(to right, white, #2f7099);
}

#header img {
    height: 90px;

}

.material-symbols-outlined.menu-icon {
    font-size: 90px;
    color: #2f7099;
    text-align: center;
    float: left;
    background-color: white;
}

.menu-icon:hover {
    color: #5ca5d3;
    cursor: pointer;

}

.menu-icon:active {
    color: #00008b;
}

.sub-menu-wrap {
    width: 312px;
    position: relative;
    bottom: 13px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;

}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background-color: white;
    height: 240px;

}

.menu-link {
    padding-left: 20px;
    display: block;
    text-decoration: none;
    color: #747272;
    font-family: sans-serif;
    font-weight: 600;

}

.menu-link:hover {
    background-color: rgb(207, 205, 205);
}

.menu-link:active {
    background-color: #2f7099;
}

.sub-menu hr {
    border: 1;
    width: 90%;
    align-items: center;
}


.menu hr {
    border: 2px solid;
    color: #2f7099;
    margin-bottom: 10px;
    width: 99%;
}

body {
    margin: 0px;
    background-image: url(pics/Background\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#headline h1 {
    margin-top: 10px;
    float: center;
    margin-left: 40%;
    margin-right: 40%;
    width: 250PX;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    font-family: sans-serif;
    color: #2f7099;
    padding: 15px;
    font-size: 1.2em;
}

#headline h3 {
    text-align: center;
    font-family: sans-serif;
    width: 200PX;
    padding: 15px;
    border-style: outset;
    background-color: #2f7099;
    color: white;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
}

.products {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #2f7099;
    border-radius: 15px;
    width: 320px;
    text-align: center;
    float: left;
    margin-bottom: 30px;


}

.products img {
    height: 250px;
    margin: auto;
    display: block;
}

.products a {
    text-decoration: none;
    font-family: sans-serif;
    color: #2f7099;
    margin: auto;
}

.products h3:hover {
    color: #5ca5d3;
}

.products h3 {
    background-color: white;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    padding: 10px 15px;
    width: 27%;
    margin: auto;
}

.truck {

    width: 90%;

}



.container p {
    color: white;
    text-align: center;
    padding: 5px;
    margin: auto;
    width: 70%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
}






.filler {
    background: linear-gradient(white, #2f7099);
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    padding: 20px;
    height: inherit;
    border-radius: 15px;
    max-width: 1080px;
}

.leftimg {
    height: 200px;
    padding-top: 20px;
    padding-left: 120px;
}

.rightimg {
    position: relative;
    bottom: 65px;
    float: right;
    height: 700px;
}

.filler h1 {
    font-size: 2.5em;
    font-weight: 600;
    padding-left: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #2f7099;

}

.filler h2 {
    padding-left: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #2f7099;
}


.filler input {
    width: 250px;
    height: 25px;
    margin: 10px 0;
    border: 1px solid #2f7099;
    border-radius: 15px;
    padding: 5px;

}

.filler textarea {
    width: 500px;
    height: 100px;
    margin: 10px 0;
    border: 1px solid #2f7099;
    border-radius: 15px;
    padding: 5px;

}

.filler button {
    text-align: center;
    font-family: sans-serif;
    width: 160px;
    padding: 15px;
    margin: 10;
    border-style: outset;
    border-color: #2f7099;
    background-color: #747272;
    color: white;
}

.fillercon {
    background-image:
        linear-gradient(to right, #ffffff 20%, #ffffff10),
        url('pics/receptionist.png');

    /* Make sure the image fits nicely */
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    height: inherit;
    max-width: 100%;
}

.leftimg {
    height: 200px;
    padding-top: 20px;
    padding-left: 120px;
}

.rightimg {
    margin-top: 250px;
    margin-right: 70px;
    float: right;
    height: 400px;
}

.fillercon h1 {
    font-size: 2.5em;
    font-weight: 600;
    padding-left: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #2f7099;

}


.fillercon h2 {
    padding-left: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #2f7099;
}


.fillercon input {
    width: 250px;
    height: 25px;
    margin: 10px 0;
    background-color: #2f709970;
    border: 1px solid #2f7099;
    border-radius: 15px;
    padding: 5px;

}

.fillercon placeholder{
    color: #ffffff;
}

.fillercon textarea {
    width: 500px;
    height: 100px;
    margin: 10px 0;
    background-color: #2f709970;
    border: 1px solid #1f1fa0;
    color: #ffffff;
    border-radius: 15px;
    

}

#request p {
    color: white;
}

#request {
    padding: 10px;
}

.fillercon button {
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    width: 160px;
    padding: 15px;
    margin: 10;
    border-style: outset;
    border-color: #00008b;
    background-color: #2f7099;
    color: #ffffff;
}



.contact-box {
    padding: 20px;
    background-color: #74727270;
}

.contact-box h1 {
    padding: 5px;
    width: 250px;
    text-align: center;
    background-color: #2f7099;
    color: #2f7099;
    border-radius: 15px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.icons a {
    border-radius: 15px;
    padding: 15px;
    color: #ffffff;
}

.c-email {
    margin-top: 15px;
    background: linear-gradient(to right, #2f7099, #5ca5d370);
    display: inline-block;
    width: 450px;
    height: 90px;
}

.c-email p {

    font-family: Arial, Helvetica, sans-serif;

    font-size: 2em;
    float: right;
}

.c-phone {
    margin-top: 15px;
    background: linear-gradient(to right, #2f7099, #5ca5d370);
    display: block;
    width: 450px;
    height: 90px;
}

.c-phone p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    float: right;
}

.c-whats {
    margin-top: 15px;
    background: linear-gradient(to right, #2f7099, #5ca5d370);
    display: block;
    width: 450px;
    height: 90px;
}

.c-whats p {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    float: right;
}

.c-address {
    margin-top: 15px;
    background: linear-gradient(to right, #2f7099, #5ca5d370);
    display: block;
    width: 450px;
}

.c-address p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    float: right;
}

.c-link {
    margin-top: 15px;
    display: block;
    width: 450px;
    height: 90px;
    background: linear-gradient(to right, #2f7099, #5ca5d370);

}

.c-link p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    float: right;
    color: #ffffff;
}



.fa-envelope.fa-5x {
    color: #ffffff;
}

.fa-globe.fa-5x {
    color: #ffffff;
}

.fa-whatsapp.fa-5x {
    color: #25D366;
}

.fa-phone.fa-5x {
    color: #ffffff;
}

.fa-tiktok.fa-5x {
    color: #ffffff;

}


.bottom-logo {
    border: none;
}

#intel {
    background: linear-gradient(to bottom right, #2f7099 10%, #747272 20% 80%, #2f7099 90%);
    color: #ffffff;
    max-width: 70%;
    margin: auto;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2em;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 15px;
    
}

.sec {
    min-height: 700px;
    padding: 20px;
    margin: 30px;
    width: 75%;
    background: linear-gradient(to bottom right, #747272 5%, #2f7099 60%,
    #1f1fa0);
    background-size: cover;
    background-position: center;
    border-radius: 15PX;
    margin-bottom: 100px;
    max-height: 750px;
    overflow: hidden;
    
}

.sec-img{
    position: relative;

    z-index: 2;
    width: 100%;
    overflow: hidden;

}
.sec-img2{

    
    display: none;
}

.sec3{
    position: relative;
    bottom: 500px;
    z-index: 3;
    background-color: #00008b70;
    border-radius: 15px;
    height: 450px;
    width: 90%;
    float: left;
    color: #ffffff;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    padding: 15px;
    border-style: outset;
}





#tabs-bottom {
    overflow: hidden;
    background-color: #747272;
    font-family: sans-serif;
    min-height: 300px;
    width: 100%;
    flex-wrap: wrap;

}

#tabs-bottom h3 {
    color: #2f7099;
    background-color: white;
    display: inline-block;
    border-radius: 15px;
    max-width: 200px;
    margin: 15px;
}

#tabs-bottom li {
    margin-top: 5px;
    list-style-type: lower-latin;
    font-weight: 600;
    color: white;
    padding-left: 20px;
    overflow: hidden;

}





about {
    float: left;
    color: white;
    font-weight: 600;

    width: 250px;
    text-align: center;
    padding-top: 0px;
    margin: 15px;
}

about h3 {
    padding: 5px 15px;
}


services {
    float: left;
    width: 200px;
    overflow: hidden;


}

services ul {
    position: relative;
    right: 20px;
}

contact {
    float: left;
    width: 350px;
    overflow: hidden;
    margin-left: 0px;
}


phone2 {
    margin-left: 108px;

}

address2 {
    margin-left: 122px;


}

#tabs-bottom li img {
    height: 35px;
    margin-right: 10px;
    position: relative;
    top: 8px;
}

contact ul {
    position: relative;
    right: 20px;
}

#tabs-bottom img {
    height: 100px;
    margin-right: 0;
}



#trailers {
    margin-top: 20px;
}

.trailer {
    background-color: #2f7099;
    font-family: sans-serif;
    color: white;
    border-radius: 15px;
    width: 500px;
    text-align: center;
    display: inline-block;
    margin: 20px;
    padding: 15px;
}

.trailer p {
    color: white;
    text-align: center;
    margin: auto;
    width: 70%;
    font-weight: 600;
}

.trailer img {
    height: 350px;
    margin: auto;
    display: block;
}

.slider {
    position: relative;
    background: linear-gradient(to bottom right, #2f7099 10%, #747272 20% 80%, #2f7099 90%);
    border-radius: 15px;
    max-width: 900px;
    height: inherit;
    margin: auto;
    margin-bottom: 50px;

}





.slider video {
    padding: 20px;
    height: 500px;
    width: 85%;
    display: none;
}

video.displaySlide {
    display: block;
    margin: auto;
}

.slider button {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    padding: 10px 15px;
    background-color: #ffffff80;
    color: #00008b;
    border: none;
    cursor: pointer;
}



.prev {
    left: 20px;
}

.next {
    right: 20px;
}


.other-serv {
    height: 700px;
    padding: 20px;
    margin: 30px;
    width: 75%;
    background: linear-gradient(to bottom right, #747272 5%, #2f7099     60%, #747272);

    border-radius: 15PX;
    margin-bottom: 100px;
    max-height: 720px;
}

.other-serv h2 {
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5em;
    width: 220px;
    padding: 15px;
    border-style: outset;
    border-color: #2f709970;
    background-color: #ffffff;
    color: #2f7099;
}

.other-itm {
    margin-top: 25px;
    background-color: #00008b70;

    border-radius: 15px;
    height: 450px;
    width: 420px;
    float: left;
}


.other-serv p {
    padding-left: 20px;
    padding-bottom: 15px;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.other-serv img {
    float: right;
    overflow: hidden;
    height: 600px;



}

.received {
    background-color: #2f7099;
    font-family: sans-serif;
    color: white;
    border-radius: 15px;
    width: 500px;
    text-align: center;
    display:block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
    min-height: 600px;
    width: 70%;
}

.received h3 {
    font-size: 1.5em;
}

.received p {
    color: white;
    text-align: center;
    margin: auto;
    width: 70%;
    font-weight: 600;
    font-size: 1.5em;
}



.received img {
    height: 350px;
    max-width: 90%;
    margin: auto;
    display: block;
}


@media (max-width:760px) {
    .filler img {
        display: none;
    }

    .filler {
        margin-left: 0;
    }

    .other-serv img {
        display: none;
    }
    .slider{
        width: 100%;
    }
    .sub-menu{
        height: 300px;
    }
        .sec-img{
        display: none;
    }
    .sec-img2{
        position: relative;
        top: 25px;
        display: block;
        z-index: 2;
        max-width: 90%;
    }
    .sec3{
       bottom: 550px; 
    }
    .menu-link{
        height: 1.7em;
    }
}
